@model IEnumerable<BoxBox.Models.VConversation>

@{
    ViewData["Title"] = "Index";
    List<Post> lastMessages = null;
    @if (ViewData["LastMessages"] != null)
    {
        lastMessages = ViewData["LastMessages"] as List<Post>;
    }
    List<User> usuarios = null;
    @if (ViewData["Usuarios"] != null)
    {
        usuarios = ViewData["Usuarios"] as List<User>;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConversationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConversationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicId)
            </td>
                <td>
                    @{
                        if (usuarios != null && item.UserId != 0)
                        {
                            var usuario = usuarios.FirstOrDefault(m => m.UserId == item.UserId);
                            if (usuario != null)
                            {
                                <p>@usuario.UserName</p>
                                <p>Fecha: @usuario.RegistrationDate</p>
                            }
                            else
                            {
                                <p>No hay mensajes disponibles</p>
                            }
                        }
                    }

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCount)
            </td>
                <td>
                    @{
                        if (lastMessages != null && item.LastMessage != 0)
                        {
                            var lastMessage = lastMessages.FirstOrDefault(m => m.PostId == item.LastMessage);
                            if (lastMessage != null)
                            {
                                <p>Último mensaje: @lastMessage.Text</p>
                                <p>Fecha: @lastMessage.CreatedAt</p>
                            }
                            else
                            {
                                <p>No hay mensajes disponibles</p>
                            }
                        }
                    }

                </td>
            <td>
                <a asp-controller="Posts"
                    asp-action="Index"
                    asp-route-conversationId="@item.ConversationId">
                    Detalles
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
