@model List<Post>

@{
    List<User> usuarios = ViewData["Usuarios"] as List<User>;
    List<Driver> drivers = ViewData["DRIVERS"] as List<Driver>;
    List<Team> teams = ViewData["TEAMS"] as List<Team>;
}

<div class="forum-container">
    <div class="forum-header">
        <h1>@ViewData["Title"]</h1>
        <a asp-action="Create" class="btn btn-primary">Crear Nuevo Post</a>
    </div>

    <div>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <a asp-controller="Posts"
                   asp-action="Index"
                   asp-route-posicion="1"
                   asp-route-conversationId="@ViewData["CONVERSATIONID"]">
                    1
                </a>
            </li>
            @if (ViewData["ANTERIOR"] == ViewData["POSICION"])
            {
                <li class="list-group-item">
                    <a asp-controller="Posts"
                       asp-action="Index"
                       asp-route-posicion="@ViewData["ANTERIOR"]"
                       asp-route-conversationId="@ViewData["CONVERSATIONID"]">
                        @ViewData["ANTERIOR"]
                    </a>
                </li>
            }
            @if (ViewData["SIGUIENTE"] == ViewData["POSICION"])
            {
                <li class="list-group-item">
                    <a asp-controller="Posts"
                       asp-action="Index"
                       asp-route-posicion="@ViewData["SIGUIENTE"]"
                       asp-route-conversationId="@ViewData["CONVERSATIONID"]">
                        @ViewData["SIGUIENTE"]
                    </a>
                </li>
            }
            @if (ViewData["ULTIMO"] == ViewData["POSICION"])
            {
                <li class="list-group-item">
                    <a asp-controller="Posts"
                       asp-action="Index"
                       asp-route-posicion="@ViewData["ULTIMO"]"
                       asp-route-conversationId="@ViewData["CONVERSATIONID"]">
                        @ViewData["ULTIMO"]
                    </a>
                </li>
            }

        </ul>
    </div>

    <div class="post-list">
        @foreach (var item in Model)
        {
            <div class="post-item">
                <div class="post-meta">
                    @{
                        var usuario = usuarios?.FirstOrDefault(u => u.UserId == item.UserId);
                        if (usuario != null)
                        {
                            <h3 class="small">@usuario.UserName</h3>
                            <div class="driver-team">
                                @if (usuario.DriverId != null)
                                {
                                    var driver = drivers?.FirstOrDefault(d => d.DriverID == usuario.DriverId);
                                    <p>@driver.DriverName Fan</p>
                                }
                                @if (usuario.TeamId != null)
                                {
                                    var team = teams?.FirstOrDefault(t => t.TeamId == usuario.TeamId);
                                    <p>@team.TeamName Fan</p>
                                }
                            </div>
                        }
                        else
                        {
                            <span>Usuario desconocido</span>
                        }
                    }
                </div>
                <div class="post-separator"></div>
                <div class="post-footer">
                    <div class="post-date">@item.CreatedAt.ToString("dd/MM/yyyy")</div>
                    <form method="post" class="post-actions" asp-controller="Posts" asp-action="ReportPost" asp-route-postId="@item.PostId">
                        <button type="submit" class="btn btn-outline-danger btn-sm"
                           onclick="return confirm('¿Estás seguro de que deseas reportar este post?')">
                            <i class="fas fa-flag"></i>
                        </button>
                    </form>
                </div>
                <div class="post-content">
                    <p>@item.Text</p>
                </div>
                
            </div>
        }
    </div>
</div>

<style>
    .forum-container {
        margin: 20px;
    }

    .forum-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .post-list {
        display: grid;
        grid-gap: 20px;
    }

    .post-item {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
    }

    .small {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .post-meta {
        margin-bottom: 10px;
    }

    .driver-team {
        display: flex;
        align-items: center;
    }

        .driver-team p {
            margin-right: 10px;
        }

    .post-separator {
        border-bottom: 1px solid #ccc;
        margin: 10px 0;
    }

    .post-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #888;
    }

    .post-actions {
        margin-top: 10px;
    }

        .post-actions .btn {
            margin-right: 10px;
        }
</style>
