@model IEnumerable<BoxBox.Models.Post>

@{
    ViewData["Title"] = "Index";
    List<User> usuarios = null;
    @if (ViewData["Usuarios"] != null)
    {
        usuarios = ViewData["Usuarios"] as List<User>;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConversationId)
                </td>
                <td>
                    @{
                        if (usuarios != null && item.UserId != 0)
                        {
                            var usuario = usuarios.FirstOrDefault(m => m.UserId == item.UserId);
                            if (usuario != null)
                            {
                                <p>@usuario.UserName</p>
                                <p>Fecha: @usuario.RegistrationDate</p>
                            }
                            else
                            {
                                <p>No hay mensajes disponibles</p>
                            }
                        }
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
