@model IEnumerable<BoxBox.Models.VTopic>

@{
    ViewData["Title"] = "Index";
    List<Post> lastMessages = null;
    @if (ViewData["LastMessages"] != null)
    {
        lastMessages = ViewData["LastMessages"] as List<Post>;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conversations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TopicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conversations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posts)
            </td>
            <td>
            @{
                if (lastMessages != null && item.LastMessage != 0)
                    {
                    var lastMessage = lastMessages.FirstOrDefault(m => m.PostId == item.LastMessage);
                    if (lastMessage != null)
                    {
                        <p>Último mensaje: @lastMessage.Text</p>
                        <p>Fecha: @lastMessage.CreatedAt</p>
                    }
                    else
                    {
                        <p>No hay mensajes disponibles</p>
                    }
                }
            }               
                       
            </td>
            <td>
                <a asp-controller="Conversations" 
                asp-action="Index"
                asp-route-topicId="@item.TopicId">
                Detalles
            </a>
            </td>
        </tr>
}
    </tbody>
</table>
